<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
  </head>
  <body>
    <h1>Schema migration with flask</h1>
    <p>
      This template project shows how to create an minimal flask application
      with a database connection, object serialization and schema migration.
    </p>
    <ul>
      <strong>Main dependencies</strong>
      <li>ORM - Flask-SQLAlchemy</li>
      <li>Object Serialization - Marshmallow</li>
      <li>Schema Migration - Flask-Migrate (Alembic)</li>
      <li>Testing - Pytest</li>
    </ul>
  </body>
</html>
